<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    
    <div class="app-wrapper">
        
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
            <app-sidebar></app-sidebar>
        </aside>
        <main class="app-main">
            <router-outlet></router-outlet>
        </main>
        <footer class="app-footer">
            <div class="float-end d-none d-sm-inline">puro sua</div>
            <strong> Copyright &copy;2024&nbsp; <a href="https://www.instagram.com/joan_riher/" class="text-decoration-none">Admin.pro</a>. </strong> All rights reserved.
            
        </footer>
        
    </div>

</body>
